<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p><%=@owner%> wants to share his/her camera. Accept the invitation to view the live stream.<p/>
<%=Settings.device_share_url%>?ds=<%=@invitation_key%>
<p>Here's how it works:</p>
<p>Accept the invite with a new or existing account</p>
<p>Follow instructions to complete registration</p>
<p>Access the newly added cameras as usual</p>

<p>Since these are shared cameras, you will not be able to access some features like Pan, Tilt and recording.</p>
<p>Find it interesting? Want to own a camera yourself?</p>
 </body>
</html>