<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Dear user,
<br/><br/>
Greetings from Monitoreverywhere.com!<br/>
As per your request made through the Forgot password link, your user account password can be reset through the below link.<br/><br/>
The link is:www.monitoreverywhere.com/BMS/fgtpwd.jsp?command=rp&eg=<%=@encrypted_guid%><br/><br/>
Warm regards,<br/><br/>
Team monitoreverywhere.com<br/><br/>
</body>
</html>
