<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  Invalid access through recurly <br/>
  Token used : <%=@recurly_token%>
</body>
</html>