<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>  
  <p>Following camera folders are cleaned-up:<br/> <%=@data%></p>
</body>
</html>