<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
  Hello,

  Below are the stats for the Hubble system as of <%=@current_date%>
  <br\><br\><br\>
  <table border="1">
  <tr>
  <th>Property</th>
  <th>Count</th>
  </tr>
  <% @property_stats.each do |stat| %>
  <tr>
  <td><%= stat['name'] %></td>
  <td><%= stat['count'] %></td>
  </tr>
<% end %>

  </table>  

</body>

</html>