<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<b>Thank You for purchasing Motorola Baby Monitoring System.
<br>Your account has been successfully created.</b>
<br><br>Your www.connovatech.com/api-test-portal/ account can be used with Motorola MBP2000/MBP1000/BLINK1/SCOUT1 monitoring system.
                        <br><br>You can visit www.connovatech.com/api-test-portal/ to access your registered cameras from anywhere you are using your PC browser.
                        <br><br>You can download Android and iOS apps to access your camera from your Android device.
                        <br/><a href='http://play.google.com/store/apps/details?id=com.msc3'><img width='159' height='59' alt='Android app on Google Play' src='http://developer.android.com/images/brand/en_app_rgb_wo_45.png' /></a>
                        <a href='https://itunes.apple.com/us/app/monitor-everywhere/id577753318?mt=8&ign-mpt=uo%3D4' target='itunes_store'><img width='159' height='59' src='http://r.mzstatic.com/images/web/linkmaker/badge_appstore-lrg.gif' alt='Monitor Everywhere - Binatone' style='border: 0;'/></a>
                        <br><br>
                        Be sure to check out the Getting Started Guide and the Userguide on how to use
                        <br> your system
                        <br><a href ='https://monitoreverywhere.com/BMS/downloadmanual.jsp'>Getting Started Guide</a>
                      <br><button   onclick=\"window.location='gettingstarted.html';\" style='width:300px; height:40px; background-color : #499CDB;'><font color='white'><b>Getting Started Guide</b></font></button>
                        <br><br>
                        You can access the FAQ for frequently encountered issues here
                        <br><a href ='https://monitoreverywhere.com/BMS/faq.jsp'>Frequenty Asked Question</a>
                      </body>
</html>