<h1>Hubble Service Status</h1>

<table>
	<tr>
		<td width="75px">
			<h3><%= t(:service_title)%></h3>
		</td>
		<% @service_statuses.each do |service_status| %>
			<td align="center" width="100px"><%= service_status['name'] %></td>
		<% end %>
	</tr>
	<tr>
		<td>
			<h3><%= t(:status_title) %></h3>
		</td>
		<% @service_statuses.each do |service_status| %>
			<td align="center"><%= image_tag("led-#{service_status['status']}.png") %></td>
		<% end %>
	</tr>
</table>
